footer {
    padding: 3.2rem 0;
    background-color: darken($very-light-grey, 5%);
    text-align: center;

    p {
        color: $black;
        margin: 0;
    }

    .footer-socials {
        @include mobile {
            margin-bottom: 20px;
        }

        li {
            margin-bottom: 30px;
        }

        a {
            background: transparent;
            border: 3px solid $black;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            line-height: 46px;
            font-size: 20px;
            display: inline-block;
            color: $black !important;
            transition: .5s ease;

            &:hover {
                background: $black;
                color: white !important;
            }
        }
    }
}

.sub-footer {
    opacity: 0.95;
    @include backgroundImageCover('https://url-shortening-api-git-master.brunofigueiredo2k.vercel.app/images/bg-boost-desktop.svg');
    background-color: $black;
    text-align: center;
    margin: 0;
    padding: 1.5rem 0;

    p {
        font-size: 16px;
        color: white !important;
        margin: 0;
    }
}