section {
    padding: 60px 0;
}

#landing-section,
#projects,
#contact {
    background-color: $very-light-grey;
}

#landing-section {
    padding: 0 0 60px 0;
    height: 100vh;
    @include backgroundImageCover('/images/bg-boost-desktop.svg');
    background-blend-mode: lighten;

    #col-left {
        display: table-cell;
        vertical-align: middle;
    }
}