/* Place all button components styling here */
.cta-btn,
.cta-btn-uppercase {
    color: $black !important;
    background-color: transparent;
    font-weight: $weight-bold;
    font-size: #{$base-font-size - 2px};
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid $black;
    transition: 0.5s;
    display: inline-block;
    position: relative;

    &:hover {
        box-shadow: $box-shadow-purple-hover;
        background-color: $black;
        color: white !important;
        cursor: pointer;
    }
}

.cta-btn-uppercase {
    text-transform: uppercase;
    padding: 12px 55px;
    letter-spacing: 1px;
}